body {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(240, 240, 240, 0.9), rgba(240, 240, 240, 0.9)), url('./luffy_3.png');
    background-repeat: repeat;
    background-size: 4rem;
    min-width: 450px;
    min-height: 220px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-content {
    padding: 10px 0;
}


/* ###################################### inputs ################################ */

input {
    padding: 0.4rem 0;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #7520ad;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 3px;
}

input:focus {
    outline-color: #7520ad;
}


/* ####################################### buttons ################################## */

button {
    padding: 8px 15px;
    border: none;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 3px;
    margin-bottom: 0.7rem;
    border-radius: 3px;
    letter-spacing: 0.7px;
}

.save-link {
    background-color: #69338d;
    color: #ffffff;
    border: 2px solid #7520ad;
}

.save-link:hover {
    background-color: #60208a;
    border-color: #60208a;
    cursor: pointer;
    box-shadow: 0 0 2px 2px #cccccc;
}

#delete-btn {
    color: #7520ad;
    border: 2px solid #7520ad;
    background-color: #ffffff;
}

#delete-btn:hover {
    background-color: #ffffff;
    color: #4e0083;
    cursor: pointer;
    box-shadow: 0 0 2px 2px #cccccc;
}


/* ####################################### list ###################################### */

ul {
    padding-left: 0;
    width: 80%;
}

li {
    margin: 0.5rem;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    color: #7520ad;
}

li i {
    /* border: 2px solid red; */
    height: 1.2rem;
    min-width: 1.2rem;
    padding: 0.2rem;
    border-radius: 50%;
    background-color: #60208a;
    border: 2px solid #60208a;
    color: #ffffff;
    text-align: center;
    transition: all ease-in-out 0.3s;
}

li i:hover {
    color: #60208a;
    background-color: #ffffff;
    box-shadow: 0 0 2px 2px #cccccc;
}

.fa-lg {
    line-height: 1 !important;
}

li a {
    list-style: none;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
}

li a:visited {
    color: #7520ad;
}


/* ################################## img container ############################# */

.img-container {
    width: 6rem;
    position: absolute;
    right: 0;
    top: 6rem;
}

.img-container img {
    width: 100%;
    z-index: 0;
}